# Configuração do servidor
PORT=3000

# Configuração do MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=bcd127
DB_NAME=watt_vision

# ==========================================
# CONFIGURAÇÃO MQTT
# ==========================================

MQTT_BROKER_URL=mqtt://SEU_BROKER:1883
MQTT_TOPIC_MEDICOES=wattvision/medicoes